{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'scripts/cookie-banner.css' %}">
{% endblock head %}
<div id="cookie-banner" class="cookie-banner" style="display: none;">
    <h5>We use cookies to improve your experience.</h5>
    <p>This website uses cookies and other tracking technologies to improve your browsing experience for the following purposes: to enable basic functionality of the website, to provide a better experience on the website, to measure your interest in our products and services and to personalize marketing interactions, to deliver ads that are more relevant to you.</p>
    <button id="accept-cookies" class="secondary">Accept</button>
    <button id="reject-cookies" class="secondary">Reject</button>
    <a href="/privacy/">Learn more</a>
</div>