{% extends "website/base.html" %}

{% block content %}
<div class="row bg-blue-300">
    <div class = "col-md-6 col-12 mx-3 mx-md-auto mt-5 mb-5">
        <h1 class="fw-bolder">Home</h1>
        <h5 class="text-muted">Welcome to Invictus, a blog about Django, Python and React</h5>
    </div>
</div>
<div class="row">
    <div class = "col-md-6 col-11 mx-3 mx-md-auto mt-5 mb-5">
        <h3 class="fw-bold">Welcome to Invictus</h3>
        <p class="text-muted">Invictus is a blog dedicated to sharing knowledge and insights about Django, Python, and React. Our goal is to provide valuable content for developers of all skill levels, from beginners to experienced professionals. We cover a wide range of topics, including tutorials, best practices, and real-world examples to help you improve your skills and stay up-to-date with the latest trends in web development.</p>
        <h3 class="fw-bold">Explore Our Blog</h3>
        <p class="text-muted">Feel free to explore our blog and read our latest articles. We regularly update our content to ensure that you have access to the most relevant and useful information. Whether you're looking to learn a new skill, improve your existing knowledge, or simply stay informed about the latest developments in the world of web development, Invictus has something for you.</p>
        <h3 class="fw-bold">Get Involved</h3>
        <p class="text-muted">We encourage you to get involved by leaving comments, sharing your thoughts, and asking questions. Your feedback is valuable to us, and we welcome any suggestions for future topics or improvements to our blog. If you have any questions or would like to collaborate, please don't hesitate to reach out to us through our contact page. We look forward to hearing from you and hope you enjoy your time on Invictus!</p>
    </div>
</div>
{% endblock content %}